<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/oso_easy_promo_icon_small.png">

    <!--jQuery-->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"
            asp-append-version="true"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--HTTP library for AJAX Request (https://github.com/mzabriskie/axios)-->
    <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js" asp-append-version="true"></script>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    <!--Global site CSS-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!--Google Fonts-->
    <!--https://fonts.google.com/-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Barlow+Semi+Condensed" rel="stylesheet">

    <!--Font Awesome CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Stylesheet for object animations (https://github.com/daneden/animate.css)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!--Bootstrap DatePicker-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">

    <environment names="Development">
        <script src="~/lib/vue/vue.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--Reference here instead of in footer because of null reference of Vue in a View-->
        <script src="https://unpkg.com/vue@2.4.4/dist/vue.min.js" asp-append-version="true"
                asp-fallback-src="~/lib/vue/vue/min.js">
        </script>
    </environment>
</head>

<body>
    <nav class="navbar navbar-fixed-top box-shadow header-shadow" style="background-color:#fff">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle small-nav fa-align-justify" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--https://icons8.com/icon/18829/panda-->
                <a asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/images/oso_easy_promo_icon_medium.png" /> </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Features">Features</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a></li>
                    @*<li><a>Support</a></li>
                        <li><a>About</a></li>
                        <li><a>Blog</a></li>*@
                    <li style="padding:10px">
                        <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-primary">Try For Free</div>
                    </li>
                </ul>

                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
    </nav>

    <div id="contentContainer" class="container body-content">
        <div style="padding-top: 50px">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - OsO Easy Promo</p>
    </footer>

    <!--Bootstrap DatePicker-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>