@inject SignInManager<OsOEasy.Data.Models.ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#005eff" />
    <meta name="Description" content="@ViewData["MetaDescription"]" />

    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous" asp-append-version="true"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--HTTP library for AJAX Request (https://github.com/mzabriskie/axios)-->
    <script async src="https://unpkg.com/axios@0.16.2/dist/axios.min.js" asp-append-version="true"></script>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    <!--Global site CSS-->
    <link async rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <!--Google Fonts-->
    <!--https://fonts.google.com/-->
    <link async href="https://fonts.googleapis.com/css?family=Indie+Flower|Barlow+Semi+Condensed" rel="stylesheet">

    <!--Font Awesome CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <environment names="Development">
        <script src="~/lib/vue/vue.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--Reference here instead of in footer because of null reference of Vue in a View-->
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" asp-append-version="true"
                asp-fallback-src="~/lib/vue/vue/min.js">
        </script>
    </environment>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top box-shadow header-shadow" style="background-color:#fff">
        <div class="container">

            <button style="color:black" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" id="home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="features" asp-area="" asp-controller="Home" asp-action="Features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pricing" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="blog" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="dashboard" asp-area="Dashboard" asp-controller="Dashboard" asp-action="Dashboard"><i class="fa fa-gears fa-lg" style="color:red" aria-hidden="true"></i> Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="createPromo" asp-area="Promotion" asp-controller="CreatePromo" asp-action="CreateNewPromo"><i class="fa fa-rocket fa-lg" style="color:red" aria-hidden="true"></i> Create Promo</a>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <p>&copy; @DateTime.Now.Year - Oso Easy Promo</p>

        <!--Bootstrap JS-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                crossorigin="anonymous"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy">
        </script>

        @RenderSection("Scripts", required: false)
        <script async src="~/js/Shared/navigation.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121940780-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-121940780-1');
        </script>

    </footer>
</body>
</html>