@model IndexViewModel
@{
    ViewData["Title"] = "OsO Easy Promo - Manage Your Account";
}

<div class="home-header-container">
    <h1 class="home-header">OsO Easy Promo</h1>
    <h2 style="font-family: 'Indie Flower', serif">Manage your account</h2>
    <h4 style="font-family: 'Indie Flower', serif">Support@OsOEasyPromo.com</h4>
</div>

<div class="row">
    <h3 class="text-success col-md-4 col-md-offset-2">@ViewData["StatusMessage"]</h3>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        @if (Model.HasPassword)
        {
            <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change current password</a>
        }
        else
        {
            <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create your password</a>
        }
    </div>
    <div class="col-md-4 col-md-offset-1">
        <a asp-area="" asp-controller="Home" asp-action="Pricing">
            <i class="fa fa-lg fa-dollar" style="color:green" aria-hidden="true"></i> View pricing options
        </a>
    </div>
</div>
<br />

<form asp-controller="Manage" asp-action="UpdateUserAccount" method="post">


    <div class="row">
        <div class="form-group col-md-4 col-md-offset-2">
            <label asp-for="FirstName">First Name:</label>
            <input asp-for="FirstName" type="text" class="form-control" value="@Model.FirstName">
        </div>
        <div class="form-group col-md-4 col-md-offset-1">
            <label asp-for="SubscriptionPlan">Subscription Plan:</label>
            <select asp-for="SubscriptionPlan" class="form-control">
                <option>Free - $0</option>
                <option>Silver - $99 / month</option>
                <option>Bronze - $299 / month</option>
                <option>Gold - $1,499 / month</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 col-md-offset-2">
            <label asp-for="LastName">Last Name:</label>
            <input asp-for="LastName" type="text" class="form-control" value="@Model.LastName">
        </div>
        <div class="col-md-4 col-md-offset-1">
            <p>Make payment....</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 col-md-offset-2">
            <label asp-for="Website">Website:</label>
            <input asp-for="Website" type="text" class="form-control" value="@Model.Website">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <label for="acctCreation">Account Created On:</label>
            <label>@Model.AccountCreationDate</label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-md-4 col-md-offset-2">
            <button type="submit" class="btn btn-lg btn-primary">Update Account Information</button>
        </div>
    </div>
</form>
